<!DOCTYPE html>

<head>
    <title>Todo Application</title>
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <div class="todo-container">
        <h2>To-Do List</h2>
        <div class="todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="content">
                <button type="submit"><span class="fas fa-plus"></span></button>
            </form>
            <ul class="todo-list">
                <% todoTasks.forEach(details=> { %>
                    <li class="todo-list-item">
                       <form action="/check/<%= details._id %>" method="POST" class="todo-check">
                        <div class="checkcontent"> <input type="checkbox" id="cbox" name="checkbox">
                            <label for="cbox">
                      <a href="/check/<%= details._id %>"> <%= details.content %></a>         
                            </label>
                        </div>
                       </form>
    
                        <a href="/remove/<%= details._id %>" class="remove">
                            <span class="fas fa-times"></span>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
</body>
